.edit-data{
    display: none;
    text-decoration: none!important;
}
.show-edit-data{
    transition: all 2s linear;
    display: block;
}
.input-edit{
    max-width:300px;
}
.visually-edit-data {
    opacity: 0;
}
